<% include ./shared/header%>
    <br/>
    <div class="container">
        <div class='row'>
            <div class='col-lg-4'> <h3>Home</h3> </div>
            <div class='col-lg-8'> <%= title%>%> </div>
        </div>
        <br/><br/>
        <h1> Images </h1>
        <hr/>
        <img src=<%=images[0]%> alt='img' />
    </div>
<% include ./shared/footer%>