extends ./shared/template
block content
    br
    div.container
        div.row
            div.col-lg-4
                h3 Home 
            div.col-lg-8= title
        br 
        br
        h1 Images 
        hr
        img(src=images[0] alt='img')
