<% include ./shared/header%>
    <br/>
    <div class="container">
        <div class='row'>
            <div class='col-lg-4'> <h3><%= cityName%></h3> </div>
            <div class='col-lg-8'><%= cityName%></div>
        </div>
        <br/><br/>
        <h1> Images City</h1>
        <hr/>
        <div class=row>
        <% images.map( img => { %>
            
                <div class='col-lg-6'>
                    <img src=<%=img%> alt="images" style="width:100%; height: auto"/>
                </div>    
            
        <% }) %>
        </div>
    </div>
<% include ./shared/footer%>